html
  head
    title!= title
  body
    h1 !{message}
    table(border='1')
      thead
         th Name
         th Species
         th Breed
         th Age
         th Colour or markings
      tbody
        each dog in animals
          tr
             td #{dog.nom}
             td #{dog.species}
             td #{dog.breed}
             td #{dog.age}
             td #{dog.colour}
    form(action='/petshop/pet', method='POST')
      | name: 
      input(type='text', name='nom', value='')
      |          species: 
      input(type='text', name='species', value='')
      |          breed: 
      input(type='text', name='breed', value='')
      |          age: 
      input(type='text', name='age', value='')
      |          colour or marking: 
      input(type='text', name='colour', value='')
      input(type='submit', value='Submit')

    form(action='/petshop/pet/update', method='POST')
      | ID: 
      input(type='text', name='_id', value='')
      | name: 
      input(type='text', name='nom', value='')
      |          species: 
      input(type='text', name='species', value='')
      |          breed: 
      input(type='text', name='breed', value='')
      |          age: 
      input(type='text', name='age', value='')
      |          colour or marking: 
      input(type='text', name='colour', value='')
      input(type='submit', value='Submit')